<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/arts.css">
    <title>Arts</title>
</head>
<body>
    <div class="container3-1">
        <div class="navbar">
            <div class="left-header">            
                    <p>Carrer Guidence</p>
            </div>
            <div class="center-menu">
                <div class="list-1">
                    <ul class="list1-1-1">
                        <li class="list1-1">About Us</li>
                        <li class="list1-1">Demos</li>
                        <li class="list1-1">Carrer Library</li>
                    </ul>
                </div>
            </div>
            <div class="login-details">
                <button>User</button>
                <button class="lgin">Log In</button>
            </div>
        </div>
        <div class="arts">
            <div class="head">
                Arts
            </div>
        </div>
        <div class="arts-career-option">
            <div class="grid">
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Fashion Designing</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Culinary</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Flim making</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Graphic Design</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Photography</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Illustration</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Interior Design</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Architecture</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Animation</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Museum and Gallery Curatorship</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Art Auctioneering</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Special Effects </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>