<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/commerce.css">
    <title>Commerce</title>
</head>
<body>
    <div class="container3-1">
        <div class="navbar">
            <div class="left-header">            
                    <p>Carrer Guidence</p>
            </div>
            <div class="center-menu">
                <div class="list-1">
                    <ul class="list1-1-1">
                        <li class="list1-1">About Us</li>
                        <li class="list1-1">Demos</li>
                        <li class="list1-1">Carrer Library</li>
                    </ul>
                </div>
            </div>
            <div class="login-details">
                <button>User</button>
                <button class="lgin">Log In</button>
            </div>
        </div>
        <div class="commerce">
            <div class="head">
                Commerce
            </div>
        </div>
        <div class="comm-career-option">
            <div class="grid">
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Chartered Accountant</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Business Management (BBA)</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Banking</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Economics</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Banking and Financial Services</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Entrepreneurship</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Human Resources</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Real Estate</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Stock Market and Securities</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Treasury Management</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Public Relations (PR)</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Insurance</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>