<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/details.css">
    <title>carrer1</title>
</head>
<body>
    <div class="container2-1">
        <div class="navbar">
            <div class="left-header">  
                    <a href="{% url 'home' %}">          
                        <p>Carrer Guidence</p>
                    </a>
            </div>
            <div class="center-menu">
                <div class="list-1">
                    <ul class="list1-1-1">
                        <li class="list1-1">About Us</li>
                        <li class="list1-1">Demos</li>
                        <li class="list1-1"> 
                            <a href="{% url 'careerLibrary' %}"> Carrer Library </a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="login-details">
                <button> {{ user }} </button>
                <button class="lgin">
                    <a href="{% url 'logout_view' %}">
                        Log Out
                    </a>
                </button>
            </div>
        </div>

        
        <div class="carrer-heading">
            <div class="head-img">
                <img class="img1" src="../static/media/Computer science and IT, Science.png" alt="">
            </div>
            <div class="heading">
                Computer Science <br>  IT
            </div>
        </div>
    
        <div class="detials-contaier">
            <div class="info">
                <div class="about-carrer">
                    <p class="head">About This Carrer</p>
                    <p class="para1">Information about the field/domain -Computer Science   focuses on software and algorithm development, while IT focuses on implementing and managing technology systems. Both offer diverse career opportunities in the technology field.</p>
                </div>
                <div class="edu-path">
                    <p class="head">How to Pursue a Career in Computer Application and IT</p>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>  </th>
                                <th>Stream</th>
                                <th>Graduation</th>
                                <th>After Graduation</th>
                                <th>After Post Graduation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Path 1</td>
                                <td>Clear Class XII with Science Stream with Maths</td>
                                <td>Pursue B.Tech in Computer Science Engineering / Software Engineering / IT Engineering for 4 years</td>
                                <td>Pursue M.Tech for 2-3 years</td>
                                <td>Pursue Ph.D for 2-3 years</td>
                            </tr>
                            <tr>
                                <td>Path 2</td>
                                <td>Clear Class XII with Science Stream with Maths</td>
                                <td>Pursue B.Tech + M.Tech (Dual Degree) for 5 year</td>
                                <td> - </td>
                                <td>Pursue Ph.D for 2-3 years</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="clg-part">
                    <p class="head">Top Computer Application and IT Institutes in India</p>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>College</th>
                                <th>Location</th>
                                <th>Website</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>IIT Bombay (IITB)</td>
                                <td>Maharastra</td>
                                <td>http://www.iitb.ac.in/</td>
                                
                            </tr>
                            <tr>
                                <td>IIT Delhi (IITD)</td>
                                <td>Delhi</td>
                                <td>http://www.iitb.ac.in/</td>
                            </tr>
                            <tr>
                                <td>IIT Kanpur (IITK)</td>
                                <td>Maharastra</td>
                                <td>http://www.iitb.ac.in/</td>
                            </tr>
                            <tr>
                                <td>NIT Trichy </td>
                                <td>Tamil Nadu</td>
                                <td>http://www.iitb.ac.in/</td>
                            </tr>
                            <tr>
                                <td>NIT Warangal </td>
                                <td>Kerela</td>
                                <td>http://www.iitb.ac.in/</td>
                            </tr>
                            <tr>
                                <td>NIT Surathkal </td>
                                <td>Karnataka</td>
                                <td>http://www.iitb.ac.in/</td>
                            </tr>
                            <tr>
                                <td>IIIT </td>
                                <td>Hydrabad</td>
                                <td>http://www.iitb.ac.in/</td>
                            </tr>
                            <tr>
                                <td>Birla Institute of Technology and Science</td>
                                <td>Rajasthan</td>
                                <td>http://www.iitb.ac.in/</td>
                            </tr>
                            <tr>
                                <td>Delhi Technological University (DTU)</td>
                                <td>Delhi</td>
                                <td>http://www.iitb.ac.in/</td>
                            </tr>
                            <tr>
                                <td>Vellore Institute of Technology (VIT)</td>
                                <td>Tamil Nadu</td>
                                <td>http://www.iitb.ac.in/</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="entrance">
                    <div class="entrance-part">
                        <p class="head">Important Entrance Exams</p>
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>College</th>
                                    <th>Tentative Date</th>
                                    <th>Important Elements</th>
                                    <th>Website</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>JEE MAIN</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                </tr>
                                <tr>
                                    <td>JEE ADVANCE</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>MHT CET</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>GATE</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="work-desp">
                    <p class="head">Work Description</p>

                    <ul class="list2">
                        <li>Software Developer/Engineer:
                            <ul class="list2-2">
                                <li>Write, test, and maintain code for software applications or systems.</li>
                                <li>Collaborate with cross-functional teams to design and develop software.</li>
                                <li>Debug and troubleshoot issues in code</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list2">
                        <li>Data Scientist/Analyst:
                            <ul class="list2-2">
                                <li>Write, test, and maintain code for software applications or systems.</li>
                                <li>Collaborate with cross-functional teams to design and develop software.</li>
                                <li>Debug and troubleshoot issues in code</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list2">
                        <li>Web Developer::
                            <ul class="list2-2">
                                <li>Create and maintain websites and web applications.</li>
                                <li>Develop user interfaces, layouts, and responsive designs.</li>
                                <li>Ensure web security and optimize site performance.</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list2">
                        <li>System Administrator:
                            <ul class="list2-2">
                                <li>install and configure operating systems and software on servers and computers.</li>
                                <li>Perform system maintenance and updates.</li>
                                <li>Provide technical support to end-users.</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list2">
                        <li>IT Manager/Director:
                            <ul class="list2-2">
                                <li>Oversee IT projects, budgets, and staff.</li>
                                <li>Make strategic decisions regarding technology infrastructure.</li>
                                <li>Ensure technology aligns with business goals.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="adv-dis">
                    <p class="head">Pros & Cons of a Career in Computer Application and IT</p>
                    <ul class="list3">
                        <li>Pros
                            <ul class="list3-2">
                                <li>install and configure operating systems and software on servers and computers.</li>
                                <li>Perform system maintenance and updates.</li>
                                <li>Provide technical support to end-users.</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list3">
                        <li>Cons
                            <ul class="list3-2">
                                <li>install and configure operating systems and software on servers and computers.</li>
                                <li>Perform system maintenance and updates.</li>
                                <li>Provide technical support to end-users.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>
home.html
13 KB