<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home Page</title>
</head>
<body>
    <div class="container1-1">
        <div class="navbar">
            <div class="left-header">            
                    <p>Carrer Guidence</p>
            </div>
            <div class="center-menu">
                <div class="list-1">
                    <ul class="list1-1-1">
                        <li class="list1-1">About Us</li>
                        <li class="list1-1">Demos</li>
                        <li class="list1-1">Carrer Library</li>
                    </ul>
                </div>
            </div>
            <div class="login-details">
                <button>User</button>
                <button class="lgin">Log In</button>
            </div>
        </div>
        
        <div class="search">
            <div class="search-img">
                <img class="img3" src="../static/img/520x600.png" alt="">
            </div>
            <div class="search-details">
                <div class="para1">
                    <p class="head">What career are you looking for?</p>
                    <p class="info">Look into the multiple career options</p>
                </div>
                <div class="search-box">
                    <input class="search-input" type="text" placeholder="Search something..">
                    <button class="search-btn"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="courses">
        <div class="head1">Which Path Did You Choose</div>
        <div class="grid1">
            <div class="grid1-1">Science</div>
            <div class="grid1-1">Commerce</div>
            <div class="grid1-1">Arts</div>
        </div>


        <div class="guidence">
            <div class="head2">Our Way To Guide You For Better Future</div>
            <div class="grid2">
                <div class="grid2-1">
                    <img src="../static/img/pic1.svg" alt="">
                    <p class="para2">Enable students to identify their best-fit career with our world-class career assessment and personalised guidance.</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic2.svg" alt="">
                    <p class="para2">Empower students to learn all about the professional world with virtual career simulations, exhaustive career library, career blogs and vlogs.</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic3.svg" alt="">
                    <p class="para2">Pave student’s way to their dream college with our end-to-end college application guidance, scholarship drive and corporate internship program.</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic4.svg" alt="">
                    <p class="para2">Enable schools in creating a career guidance ecosystem in sync with the vision of New Education Policy</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic5.svg" alt="">
                    <p class="para2">Empower educators to become International Certified Career Coaches and build a career in career guidance & counselling</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic6.svg" alt="">
                    <p class="para2">Revolutionary assessment platform and technology driven career guidance solutions for educators to boost their career guidance & counselling practice</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>FOOTER THINKING</p>
        </div>
    </div>
    
</body>
</html>