<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Home Page</title>
</head>
<body>
    <div class="container1-1">
        <div class="navbar">
            <div class="left-header">  
                    <a href="{% url 'home' %}">          
                        <p>Carrer Guidence</p>
                    </a>
            </div>
            <div class="center-menu">
                <div class="list-1">
                    <ul class="list1-1-1">
                        <li class="list1-1">About Us</li>
                        <li class="list1-1">Demos</li>
                        <li class="list1-1"> 
                            <a href="{% url 'careerLibrary' %}"> Carrer Library </a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="login-details">
                <button> {{ user }} </button>
                <button class="lgin">
                    <a href="{% url 'logout_view' %}">
                        <p>Log Out</p>
                    </a>
                </button>
            </div>
        </div>
        
        <div class="search">
            <div class="search-img">
                <img class="img3" src="../static/img/520x600.png" alt="">
            </div>
            <div class="search-details">
                <div class="para1">
                    <p class="head">What career are you looking for?</p>
                    <p class="info">Look into the multiple career options</p>
                </div>
                <div class="search-box">
                    <input type="text" id="search-input" placeholder="Search by title">
                    <button class="search-btn"><i class="fas fa-search"></i></button>
                    <div id="search-results"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="courses">
        <div class="head1">Which Path Did You Choose</div>
        <div class="grid1">
            <div class="grid1-1">
                <a href="stream/1">
                    <p>Science</p>
                </a>
            </div>
            <div class="grid1-1">
                <a href="stream/2">
                    <p>Commerce</p>
                </a>
            </div>
            <div class="grid1-1">
                <a href="stream/3">
                    <p>Arts</p>
                </a>
            </div>
        </div>

        <div class="guidence">
            <div class="head2">Our Way To Guide You For Better Future</div>
            <div class="grid2">
                <div class="grid2-1">
                    <img src="../static/img/pic1.svg" alt="">
                    <p class="para2">Enable students to identify their best-fit career with our world-class career assessment and personalised guidance.</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic2.svg" alt="">
                    <p class="para2">Empower students to learn all about the professional world with virtual career simulations, exhaustive career library, career blogs and vlogs.</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic3.svg" alt="">
                    <p class="para2">Pave student’s way to their dream college with our end-to-end college application guidance, scholarship drive and corporate internship program.</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic4.svg" alt="">
                    <p class="para2">Enable schools in creating a career guidance ecosystem in sync with the vision of New Education Policy</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic5.svg" alt="">
                    <p class="para2">Empower educators to become International Certified Career Coaches and build a career in career guidance & counselling</p>
                </div>
                <div class="grid2-1">
                    <img src="../static/img/pic6.svg" alt="">
                    <p class="para2">Revolutionary assessment platform and technology driven career guidance solutions for educators to boost their career guidance & counselling practice</p>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="contact">
                <p>Contact number</p>
                <p class="no">9136668654</p>
                <p>Email</p>
            </div>
    
            <div class="menu">
                <ul class="list1">
                    <li>About Us</li>
                    <li>Demo</li>
                    <li>Career Library</li>
                </ul>
            </div>
    
            <div class="policy">
                <ul class="list2">
                    <li>Contact Us</li>
                    <li>Terms And Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Disclaimer</li>
                </ul>
            </div>
            <div class="career-options">
                <ul class="list3">
                    <li>Science</li>
                    <li>Commerce</li>
                    <li>Arts</li>
                </ul>
            </div>
    
            <div class="social">
                <p>Our Social Media Handles</p>
                <ul class="list4">
                    <li class="list4-1"><img src="../static/img/instagram.svg" width="20px" height="20px" alt=""> 
                    <p>Instagram</p></li>
                    <li class="list4-1"><img src="../static/img/linkedin-in.svg" width="20px" height="20px" alt="">
                    <p>LinkedIn</p></li>
                    <li class="list4-1"><img src="../static/img/x-twitter.svg" width="20px" height="20px" alt="">
                    <p>X-Twitter</p></li>
                </ul>
            </div>
        </div>
    </div>
    
    
</body>
<script>
    $(document).ready(function() {
        $('#search-input').on('input', function() {
            var query = $(this).val().trim();

            if (query.length >= 1) {
                $.ajax({
                    url: '/search_gallery/',
                    data: { query: query },
                    dataType: 'json',
                    success: function(data) {
                        var resultsContainer = $('#search-results');
                        resultsContainer.empty();

                        if (data.results.length > 0) {
                            data.results.forEach(function(result) {
                                var resultItem = $('<div><a href="/course_details/' + result.id + '/">' + result.title + '</a></div>');
                                resultsContainer.append(resultItem);
                            });
                        } else {
                            resultsContainer.html('<div>No results found.</div>');
                        }
                    }
                });
            } else {
                $('#search-results').empty();
            }
        });
    });
</script>
</html>