<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/library.css">
    <title>Library</title>
</head>
<body>
    <div class="container4-1">
        <div class="navbar">
            <div class="left-header">  
                    <a href="{% url 'home' %}">          
                        <p>Carrer Guidence</p>
                    </a>
            </div>
            <div class="center-menu">
                <div class="list-1">
                    <ul class="list1-1-1">
                        <li class="list1-1">About Us</li>
                        <li class="list1-1">Demos</li>
                        <li class="list1-1"> 
                            <a href="{% url 'careerLibrary' %}"> Carrer Library </a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="login-details">
                <button> {{ user }} </button>
                <button class="lgin">
                    <a href="{% url 'logout_view' %}">
                        Log Out
                    </a>
                </button>
            </div>
        </div>

        <div class="library-heading">
            <div class="heading">
                <p class="head">
                    Career Library
                </p>
            </div>
        </div>

        <div class="career-option">
            {% for gallery  in gallery %}
            <div class="grid">
                <div class="grid1">
                    <a href="{% url 'addInfo' %}">
                        <img class="pics" src="{{ gallery.image.url }}">
                    </a>
                    <p class="para"> {{ gallery.title }} </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="footer">
            <p>FOOTER THINKING</p>
        </div>
    </div>
</body>
</html>