<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/library.css">
    <title>Library</title>
</head>
<body>
    <div class="container4-1">
        <div class="navbar">
            <div class="left-header">  
                    <a href="{% url 'home' %}">          
                        <p>Career Guidence</p>
                    </a>
            </div>
            <div class="center-menu">
                <div class="list-1">
                    <ul class="list1-1-1">
                        <li class="list1-1">About Us</li>
                        <li class="list1-1">Demos</li>
                        <li class="list1-1"> 
                            <a href="{% url 'careerLibrary' %}"> Career Library </a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="login-details">
                <button> {{ user }} </button>
                <button class="lgin">
                    <a href="{% url 'logout_view' %}">
                        Log Out
                    </a>
                </button>
            </div>
        </div>

        <div class="library-heading">
            <div class="heading">
                <p class="head">
                    Career Library
                </p>
            </div>
        </div>

        <div class="career-option">
            {% for gallery  in gallery %}
                <div class="grid">
                    <div class="grid1">
                        <a href="{% url 'addInfo' %}">
                            <img class="pics" src="{{ gallery.image.url }}">
                        </a>
                        <p class="para"> {{ gallery.title }} </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="footer">
            <p>FOOTER THINKING</p>
        </div>
        <div class="footer">
            <div class="contact">
                <p>Contact number</p>
                <p class="no">9136668654</p>
                <p>Email</p>
            </div>
    
            <div class="menu">
                <ul class="list1">
                    <li>About Us</li>
                    <li>Demo</li>
                    <li>Career Library</li>
                </ul>
            </div>
    
            <div class="policy">
                <ul class="list2">
                    <li>Contact Us</li>
                    <li>Terms And Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Disclaimer</li>
                </ul>
            </div>
            <div class="career-options">
                <ul class="list3">
                    <li>Science</li>
                    <li>Commerce</li>
                    <li>Arts</li>
                </ul>
            </div>
    
            <div class="social">
                <p>Our Social Media Handles</p>
                <ul class="list4">
                    <li class="list4-1"><img src="../static/img/instagram.svg" width="20px" height="20px" alt=""> 
                    <p>Instagram</p></li>
                    <li class="list4-1"><img src="../static/img/linkedin-in.svg" width="20px" height="20px" alt="">
                    <p>LinkedIn</p></li>
                    <li class="list4-1"><img src="../static/img/x-twitter.svg" width="20px" height="20px" alt="">
                    <p>X-Twitter</p></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>