<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/science.css">
    <title>Science</title>
</head>
<body>
    <div class="container3-1">
        <div class="navbar">
            <div class="left-header">            
                    <p>Carrer Guidence</p>
            </div>
            <div class="center-menu">
                <div class="list-1">
                    <ul class="list1-1-1">
                        <li class="list1-1">About Us</li>
                        <li class="list1-1">Demos</li>
                        <li class="list1-1">Carrer Library</li>
                    </ul>
                </div>
            </div>
            <div class="login-details">
                <button>User</button>
                <button class="lgin">Log In</button>
            </div>
        </div>
        <div class="science">
            <div class="head">
                Science
            </div>
        </div>
        <div class="sci-career-option">
            <div class="grid">
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Computer science and IT</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Civil engineering</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Aerospace</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Data Science and Analytics</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Biotechnology</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Medical and Healthcare Sciences</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Forensic Science</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Pharmacy</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Architecture</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Finance and Economics</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Environmental Engineering</p>
                </div>
                <div class="grid1">
                    <img src="../static/img/420x260.png" alt="" class="pics">
                    <p class="para">Psychology</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>